$banner-size-w: 250px;
$banner-size-h: 250px;

$logo-size-w: 113px;
$logo-size-h: 79px;

$logo-block-width: 58%;
$img-block-width: 42%;
$txt-block-width: $logo-block-width;

$total-anim-time: $anim-speed * 34; //9.18s

// Typography
$banner-txt-ttl-fz: 19px;
$banner-txt-ttl-lh: 1.2;

$banner-cta-ttl-fz: 22px;
$banner-cta-ttl-lh: 1;

$banner-cta-txt-fz: 14px;

$banner-seller-fz: 10px;
