$banner-size-w: 300px;
$banner-size-h: 500px;

$logo-size-w: 178px;
$logo-size-h: 125px;

$logo-block-width: 33.1%;
$img-block-width: 46.52%;
$txt-block-width: 100% - $img-block-width - $logo-block-width;

$total-anim-time: $anim-speed * 34; //9.18s

// Typography
$banner-txt-ttl-fz: 28px;
$banner-txt-ttl-lh: 1.1;

$banner-cta-ttl-fz: 33px;
$banner-cta-ttl-lh: 1;

$banner-cta-txt-fz: 31px;

$banner-seller-fz: 14px;
