$banner-size-w: 320px;
$banner-size-h: 50px;

$logo-size-w: 117px;
$logo-size-h: 33px;

$logo-block-width: 43%;
$img-block-width: 0%;
$txt-block-width: 57%;

$total-anim-time: $anim-speed * 34; //9.18s
