$banner-size-w: 930px;
$banner-size-h: 180px;

$logo-size-w: 192px;
$logo-size-h: 134px;

$logo-block-width: 27.2%;
$img-block-width: 33.23%;
$txt-block-width: 57%;

$total-anim-time: $anim-speed * 34; //9.18s
