.banner {
    background-color: $cr-brand-primary;
    display: flex;
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 4px solid $cr-brand-secondary;
        pointer-events: none;
        z-index: 2;
    }

    &:before {
        content: '';
        background-color: $cr-brand-primary;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 66.5%;
        transform: translateX(50%);

        animation: block-appearance-move $animation-speed-slow4x $animation-speed * 13 forwards;
        animation-timing-function: ease-in;
    }

    &--970-250 {
        width: 970px;
        height: 250px;
    }
}

.banner__logo {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 33.5%;
    max-width: 33.5%;
    transform: scale(.5);

    animation: object-scale $animation-speed * 8 0s forwards;
    animation-timing-function: $animation-type;
}

.banner__img {
    max-width: 30.62%;
    flex: 0 0 30.62%;
}

.banner__txt-holder {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $cr-brand-secondary;

    animation: text-disappearance $animation-speed-slow2x $animation-speed * 13 forwards;
    animation-timing-function: $animation-type;
}

.banner__txt-ttl {
    font-family: $font-secondary;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1.25;
    margin-bottom: .8em;

    opacity: 0;
    animation-name: text-appearance;
    animation-duration: $animation-speed-slow3x;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: $animation-type;
}

.banner__txt {
    font-weight: 300;
    font-size: 23px;

    opacity: 0;
    transform: translateY(50%);
    animation-name: text-appearance-move;
    animation-duration: $animation-speed-slow3x;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: $animation-type;
}
