@import "variables-local";
@import "../anim-types";

.banner {
    @include size($banner-size-w, $banner-size-h);
    background-color: $cr-brand-primary;
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;

    .anim-start & {
        transform: translateX(0);
        transition: transform 0s $total-anim-time;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 4px solid $cr-brand-secondary;
        pointer-events: none;
        z-index: 2;
    }
}

.banner__logo {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 $logo-block-width;
    max-width: $logo-block-width;
    height: 90px;
    order: 1;

    .anim-start & {
        animation:
            block-full-width $anim-speed-slow2x $anim-speed * 13 forwards,
            block-full-width $anim-speed-slow2x $anim-speed * 28 forwards reverse;
        animation-timing-function: $anim-type;
    }
}

.banner__logo-img {
    @include size($logo-size-w, $logo-size-h);
}

.banner__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: $img-block-width;
    flex: 0 0 $img-block-width;

    .anim-start & {
        animation:
            appearance $anim-speed-slow2x $anim-speed * 13 reverse,
            appearance $anim-speed-slow4x $total-anim-time - $anim-speed * 3;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }

    img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }
}

.banner__txt-holder {
    position: absolute;
    bottom: 36px;
    right: 0;
    width: $txt-block-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $cr-brand-secondary;
    padding: 10px;
    opacity: 1;

    .anim-start & {
        animation: appearance $anim-speed-slow2x $anim-speed * 13 forwards reverse;
        animation-timing-function: $anim-type;
    }
}

.banner__txt-ttl {
    font-family: $font-secondary;
    text-transform: uppercase;
    font-size: $banner-txt-ttl-fz;
    line-height: $banner-txt-ttl-lh;
    margin-bottom: 5px;
    opacity: 0;

    .anim-start & {
        animation: appearance $anim-speed-slow3x $anim-speed * 2 forwards;
        animation-timing-function: $anim-type;
    }
}

.banner-seller {
    font-weight: 300;
    font-size: $banner-seller-fz;
    /*opacity: 0;
    transform: translateY(50%);
    animation: text-appearance-move $anim-speed-slow3x $anim-speed * 4 forwards;
    animation-timing-function: $anim-type;*/
}
