$banner-size-w: 200px;
$banner-size-h: 200px;

$logo-size-w: 90px;
$logo-size-h: 63px;

$logo-block-width: 58%;
$img-block-width: 42%;
$txt-block-width: $logo-block-width;

$total-anim-time: $anim-speed * 34; //9.18s

// Typography
$banner-txt-ttl-fz: 15px;
$banner-txt-ttl-lh: 1.2;

$banner-cta-ttl-fz: 17px;
$banner-cta-ttl-lh: 1;

$banner-cta-txt-fz: 11px;

$banner-seller-fz: 8px;
