$banner-size-w: 320px;
$banner-size-h: 100px;

$logo-size-w: 92px;
$logo-size-h: 65px;

$logo-block-width: 38.4375%;
$img-block-width: 0%;
$txt-block-width: 61.5625%;

$total-anim-time: $anim-speed * 34; //9.18s
