@keyframes appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes block-full-width {
    0% {
        flex-basis: $logo-block-width;
        max-width: $logo-block-width;
    }

    100% {
        flex-basis: $banner-size-w;
        max-width: $banner-size-w;
    }
}

@keyframes text-appearance-move {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes object-scale {
    0% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1);
    }
}
