$banner-size-w: 970px;
$banner-size-h: 90px;

$logo-size-w: 92px;
$logo-size-h: 65px;

$logo-block-width: 17.04%;
$img-block-width: 17.755%;
$txt-block-width: 46.05%;

$total-anim-time: $anim-speed * 34; //9.18s
